.header-box {
  background: #fcf2cb;
  color: #1e4363;
  position: fixed;
  top:0;
  width:100%;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.header-shadow {
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.5);
}

.header-content-box {
  height: 70px;
  padding: 0;
  padding-top: 17px;
  box-sizing: border-box;
}

.header-content-box h1 {
  display: inline;
  cursor: pointer;
}

.navbar-links-box{
  margin-top: 7px;
  float: right;
  display: flex;
  font-weight: 500;
}

.navbar-links-box p {
  margin: 0;
  margin-left:40px;
  font-size:15px;
  cursor: pointer;
}

.navbar-links-box p:hover {
  font-weight:700;
}

.hamburger-menu {
  float: right;
  padding-top:6px;
  padding-right:40px;
  cursor: pointer;
}

.hamburger-menu div {
  margin-top:4px;
  height: 4px;
  width: 30px;
  border-radius:100px;
  background: #1e4363;
}

.mobile-header {
  position: fixed;
  top:0;
  width:250px;
  height:100%;
  background: #fcf2cb;
  z-index: 20;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

  display: flex;
  flex-direction: column;

  box-shadow: -1px 0px 4px 0px rgba(0,0,0,0.5);
}

.mobile-header img {
  width:30px;
  margin-top:25px;
  margin-left:30px;
  margin-bottom:0px;
  cursor: pointer;
}

.mobile-header p {
  font-size:22px;
  font-weight: 500;
  color: #1e4363;
  cursor: pointer;
  margin-top:20px;
  margin-left:30px;
}

.mobile-header div:first-child p{
  margin-top:15px;
}

@media screen and (max-width: 1279px) {
  .navbar-links-box:last-child {
    margin-right:40px;
  }

  .header-content-box h1 {
    margin-left:40px;
  }
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    padding-right:20px;
  }

  .header-content-box h1 {
    margin-left:20px;
  }
}

