.index-indicator {
  display: flex;
}

.index-indicator .indicator-box {
  height:15px;
  width:15px;
  border-radius:2px;
  margin-right:15px;
  opacity:0.5;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.index-indicator .active {
  opacity:1;
}

.index-indicator .indicator-box:last-child {
  margin-right:0px;
}

.index-indicator div {
  background: #fcf2cb;
}

.index-indicator--blue div {
  background: #1e4363;
}