.contact-section {
  background: #fcf2cb;
  color: #1e4363;
  padding-bottom:50px;
}

.contact-section .contact-text-box {
  margin-top:30px;
}

.contact-section .contact-text-box p {
  width:500px;
  font-size:15px;
  font-weight:500;
  line-height:25px;
  text-align: center;
}

.contact-section .contact-social-box {
  margin-top:40px;
  display: flex;
}

.contact-section .contact-social-box img {
  width:40px;
  height:40px;
  margin-right: 90px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.contact-section .contact-social-box img:last-child {
  margin-right:0px;
}

.contact-section .contact-social-box img:hover {
  transform:scale(1.2);
}

@media screen and (max-width:600px) {
  .contact-section .contact-text-box p {
    width:300px;
  }

  .contact-section .contact-social-box img {
    height:35px;
    width:35px;
    margin-right:45px;
  }
}