.feature-section {
  padding-bottom:50px;
  background: #1e4363;
}

.feature-box {
  margin-top:60px;
}

.feature-box__row {
  display:flex;
  max-width:1000px;
  flex-wrap: wrap;
}

.feature-box__card {
  width:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.feature-box__card p {
  color: #fcf2cb;
  font-weight:100;
  font-size:20px;
  text-align: center;
  cursor: default;
}

.feature-triangle{
  height:25px;
  width:25px;
  margin-bottom:30px;
}

.card--book {
  margin-right:200px;
}

.card--device {
  margin-right:200px;
}

.card--sync {
  margin-top:60px;
  margin-right:200px;
}

.card--analytics {
  margin-top:60px;
  margin-right:200px;
}

.card--key {
  margin-top: 60px;
}

.schedule-icon {
  margin-top:35px;
  width:150px;
}

.device-icon {
  margin-top:45px;
  width:180px;
}

.people-icon {
  margin-top:45px;
  width:170px;
}

.analytics-icon{
  margin-top:50px;
  width:180px;
}

.key-icon {
  margin-top:60px;
  width:140px;
}

@media screen and (max-width: 1087px) {
  .feature-box__row {
    width:800px;
  }

  .card--book {
    margin-right:100px;
  }

  .card--device {
    margin-right:100px;
  }

  .card--sync {
    margin-right:100px;
  }

  .card--analytics {
    margin-right:100px;
  }
}

@media screen and (max-width: 930px) {
  .feature-box__row{
    width:500px;
  }

  .card--device {
    margin-right:0px;
  }

  .card--people {
    margin-top:60px;
    margin-right:100px;
  }

  .card--sync {
    margin-right:0px;
  }
}


@media screen and (max-width: 600px) {
  .feature-section {
    padding-bottom:50px;
  }

  .feature-box {
    margin-top:40px;
  }

  .feature-box__row{
    width:325px;
  }

  .feature-box__card {
    width:325px;
    flex-direction: row-reverse;
  }

  .feature-box__card p {
    font-size:16px;
    font-weight:400;
  }

  .card--book {
    margin-right:0px;
  }

  .card--device {
    margin-top:40px;
  }

  .card--people {
    margin-top:40px;
    margin-right:0px;
  }

  .card--sync {
    margin-top:40px;
  }

  .card--analytics {
    margin-top:40px;
    margin-right:0px;
  }
  
  .card--key {
    margin-top:40px;
  }

  .schedule-icon {
    margin-top:0px;
    width:40px;
    margin-right:77px;
  }

  .device-icon {
    margin-top:0px;
    width:52px;
    margin-right:70px;
  }

  .people-icon {
    margin-top:0px;
    width:45px;
    margin-right:35px;
  }

  .analytics-icon {
    margin-top:0px;
    width:43px;
    margin-right:128px;
  }

  .key-icon {
    margin-top:0px;
    width:35px;
    margin-right:93px;
  }
}

@media screen and (max-width:500px) {
  .feature-section {
    padding-bottom:35px;
  }

  .feature-box {
    margin-top:30px;
  }

  .feature-box__row{
    width:250px;
  }

  .feature-box__card {
    width:250px;
  }

  .feature-box__card p {
    font-size:13px;
  }

  .card--book {
    margin-right:0px;
  }

  .card--device {
    margin-top:30px;
  }

  .card--people {
    margin-top:30px;
  }

  .card--sync {
    margin-top:30px;
  }

  .card--analytics {
    margin-top:30px;
  }
  
  .card--key {
    margin-top:30px;
  }

  .schedule-icon {
    margin-right:51px;
    width:30px;
  }

  .device-icon {
    width:40px;
    margin-right:46px;
  }

  .people-icon {
    width:35px;
    margin-right:18px;
  }

  .analytics-icon {
    width:35px;
    margin-right:93px;
  }

  .key-icon {
    width:30px;
    margin-right:65px;
  }
}