.feature-section {
  height:950px;
  background: #1e4363;
}

.feature-section p {
  color: #fcf2cb;
  font-weight:100;
  font-size:20px;
  text-align: center;
}

.feature-box {
  margin-top:70px;
}

.feature-box__row {
  display:flex;
}

.feature-box__row:last-child {
  margin-top:90px;
}

.feature-box__card {
  margin-right:150px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.feature-box__card:last-child {
  margin-right:0px;
}

.feature-triangle{
  height:25px;
  width:25px;
  margin-bottom:30px;
}