.header-box {
  background: #fcf2cb;
  color: #1e4363;
}


.header-content-box {
  height: 90px;
  padding: 0;
  padding-top: 25px;
  box-sizing: border-box;
}

.header-content-box h1 {
  display: inline;
}

.navbar-links-box{
  margin-top: 8px;
  float: right;
  display: flex;
  font-weight: 500;
}

.navbar-links-box p {
  margin: 0;
  margin-left:40px;
  font-size:15px;
  cursor: pointer;
}

.navbar-links-box p:hover {
  font-weight:700;
}

.hamburger-menu {
  float:right;
  margin-top:7px;
  margin-right:40px;
  
  cursor: pointer;
}

.hamburger-menu div {
  margin-top:4px;
  height: 4px;
  width: 30px;
  border-radius:100px;
  background: #1e4363;
  transition: .4s;
}

@media screen and (max-width: 1279px) {
  .navbar-links-box:last-child {
    margin-right:40px;
  }

  .header-content-box h1 {
    margin-left:40px;
  }
}

@media screen and (max-width: 767px) {
  .hamburger-menu {
    margin-right:20px;
  }

  .header-content-box h1 {
    margin-left:20px;
  }
}

