.hero {
  margin-top:70px;
  height: 620px;
  width:100vw;
  background: #fcf2cb;
  color: #1e4363;
  box-sizing: border-box;
  overflow: hidden;
}

.hero__image-box {
  position: absolute;
  width:1000px;
  height:500px;
  margin-left:150px;
  margin-top:32px;
  overflow: hidden;
}

.hero__image {
  opacity: 0.04;
}

.hero-header-box {
  padding-top:140px;
  position: relative;
  z-index: 1;
}

.hero-header-box p{
  font-size:40px;
  font-weight:700;
  letter-spacing: 1px;
  font-family: 'Roboto';
}

.hero-header-box .second-sentence {
  margin-top:25px;
}

.hero-buttons {
  margin-top:20px;
  display: flex;
  
}

.hero-buttons p {
  font-size:20px;
  font-weight:500;
  cursor: pointer;
  z-index:2;
}

.hero-buttons p:last-child {
  margin-left:30px;
}



@media screen and (max-width: 1279px) {
  .hero {
    padding-left:40px;
  }
}

@media screen and (max-width: 1087px) {
  .hero {
    height:500px;
  }

  .hero-header-box {
    padding-top:85px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    height:300px;
    padding-left:20px;
  }

  .hero-header-box {
    padding-top:20px;
  }

  .hero-header-box p {
    font-size:30px;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    height:450px;
  }

  .hero-header-box {
    padding-top:100px;
  }

  .hero-header-box p {
    font-size: 27px;
  }

  .hero-buttons {
    margin-top:25px;
    
  }

  .hero-buttons p {
    font-size:17px;
    font-weight:500;
  }
}