.login-section {
  background: #fcf2cb;
  padding-bottom:80px;
  color: #1e4363;
}

.login-section .login-box {
  height:340px;
  width:340px;
  background: #1e4363;
  margin-top: 80px;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section .login-box .tabs-box {
  display:flex;
  font-size:15px;
  box-sizing: border-box;
  width:100%;
  cursor: pointer;
}

.login-section .login-box .tabs-box div {
  text-align: center;
  padding-top:15px;
  padding-bottom:15px;
  width:50%;
  transition:.3s ease-in-out;
}

.login-section .login-box .form-box {
  text-align: center;
  color: #152F45;
  width:180px;
  font-size:13px;
}

.login-section .login-box .form-box--signup {
  margin-top:45px;
}

.login-section .login-box .form-box--login {
  margin-top:16px;
}

.login-section .login-box .form-box div {
  height:40px;
  margin-top:20px;
  box-sizing: border-box;
  padding-top:11px;
  border-radius: 3px;
  background:white;
  cursor:text;
  text-align: left;
}

.login-section .login-box .form-box .signup-box {
  border:1px solid white;
  background: #1e4363;
  color:white;
  padding-top:9px;
  cursor: pointer;
  text-align: center;
}

.login-section .info-text-box p{
  font-size:14px;
  font-weight:500;
  margin-top:30px;
}

@media screen and (max-width:600px) {
  .login-section {
    padding-bottom:50px;
  }

  .login-section .login-box {
    height:280px;
    width:250px;
    margin-top:50px;
  }

  .login-section .login-box .tabs-box {
    font-size:14px;
  }

  .login-section .login-box .tabs-box .tab--login {
    height:20px;
  }

  .login-section .login-box .tabs-box .tab--signup {
    height:20px;
  }

  .login-section .login-box .form-box {
    width:150px;
    font-size:12px;
  }

  .login-section .login-box .form-box--signup {
    margin-top:30px;
  }

  .login-section .login-box .form-box--login {
    margin-top:7px;
  }

  .login-section .login-box .form-box div {
    height:30px;
    padding-top:6px;
  }

  .login-section .login-box .form-box .email-box {
    padding-top:7px;
  }

  .login-section .login-box .form-box .password-box {
    padding-top:7px;
  }

  .login-section .login-box .form-box .signup-box {
    padding-top:5px;
  }

  .login-section .info-text-box p {
    font-size:12px;
    margin-top:20px;
  }
}