.pricing-section {
  background: #fcf2cb;
  color: #1e4363;
}

.pricing__toggle-box {
  display: flex;
  margin-top:35px;
  margin-bottom:35px;
  font-size:18px;
  font-weight:500;
}

.pricing__toggle-box .toggle-background {
  height:21px;
  width:50px;
  background: #1e4363;
  border-radius:6px;
  margin-left:20px;
  margin-right:20px;
  margin-top:3px;
}

.pricing__toggle-box .toggle-foreground {
  height:15px;
  width:15px;
  background: #fcf2cb;
  border-radius:4px;
  margin-top:3px;
  margin-left:4px;
  transition: .3s ease-in-out;
}

.pricing__toggle-box .toggle-background:hover .toggle-foreground {
  transform: translateX(27px);
}