.pricing-section {
  background: #fcf2cb;
  color: #1e4363;
  padding-bottom:40px;
}

.pricing__toggle-box {
  display: flex;
  margin-top:33px;
  margin-bottom:35px;
  font-size:18px;
  font-weight:500;
}

.pricing__toggle-box p{
  cursor: default;
}

.pricing__toggle-box .toggle-background {
  height:21px;
  width:50px;
  background: #1e4363;
  border-radius:6px;
  margin-left:20px;
  margin-right:20px;
  margin-top:3px;
}

.pricing__toggle-box .toggle-foreground {
  height:15px;
  width:15px;
  background: #fcf2cb;
  border-radius:4px;
  margin-top:3px;
  margin-left:4px;
  transition: .3s ease-in-out;
}

.pricing__toggle-box .toggle-background:hover .toggle-foreground {
  transform: translateX(27px);
}

.pricing__plans-box {
  display: flex;
}

.pricing__plans-box .plan-box {
  height:400px;
  width:250px;
  box-sizing: border-box;
  border: 2px solid #1e4363;
  margin-right:80px;
}

.pricing__plans-box .plan-box:last-child {
  margin-right:0px;
}

.pricing__swipe-indicator {
  margin-top:40px;
  display:flex;
}

.pricing__swipe-indicator .indicator-box {
  height:15px;
  width:15px;
  background: #1e4363;
  border-radius:3px;
  margin-right:15px;
  opacity:0.5;
}

.pricing__swipe-indicator .indicator-box:first-child {
  opacity:1;
}

@media screen and (max-width:999px) {
  .pricing__plans-box .plan-box {
    margin-right:40px;
  }
}

@media screen and (max-width:920px) {
  .pricing__plans-box .plan-box:first-child {
    display:none;
  }

  .pricing__plans-box .plan-box:last-child {
    display:none;
  }

  .pricing__plans-box .plan-box {
    margin-right:0px;
    width:600px;
    height:250px;
  }
}

@media screen and (max-width:767px) {
  .pricing__plans-box .plan-box {
    width:400px;
    height:250px;
  }
}

@media screen and (max-width:499px) {
  .pricing__plans-box .plan-box {
    width:300px;
    height:300px;
  }
}