.sourcecode-section {
  background: #1e4363;
  color: #fcf2cb;
  padding-bottom: 60px;
}

.sourcecode-section .sourcecode-text-box {
  margin-top:50px;
  display:flex;
}

.sourcecode-section .sourcecode-text-box p {
  font-size:20px;
}

.sourcecode-section .sourcecode-text-box img {
  margin-left:10px;
  margin-right:10px;
}

.sourcecode-section .sourcecode-content-box {
  display: flex;
  margin-top:45px;
}

.sourcecode-section .sourcecode-content-box .github-box {
  text-align: center;
  cursor: pointer;
}

.sourcecode-section .sourcecode-content-box .github-box p{
  margin-top:10px;
  text-align: center;
}

.sourcecode-section .sourcecode-content-box .github-box a {
  text-decoration: none;
  color: #fcf2cb;
}

.sourcecode-section .sourcecode-content-box .github-box:first-child{
  margin-right:180px;
}

.sourcecode-section .sourcecode-content-box .github-box a img {
  transition: .3s ease-in-out;
}

.sourcecode-section .sourcecode-content-box .github-box:hover a img{
  transform: scale(1.1);
}

@media screen and (max-width:767px) {
  .sourcecode-section {
    padding-bottom:55px;
  }

  .sourcecode-section .sourcecode-content-box .github-box:first-child{
    margin-right:0px;
  }

  .sourcecode-section .sourcecode-content-box {
    margin-bottom: 20px;
  }
}

@media screen and (max-width:600px) {
  .sourcecode-section {
    padding-bottom:45px;
  }


  .sourcecode-section .sourcecode-text-box {
    margin-top:30px;
  }

  .sourcecode-section .sourcecode-text-box p {
    font-size:16px;
  }

  .sourcecode-section .sourcecode-content-box {
    margin-top:30px;
    margin-bottom:20px;
  }

  .sourcecode-section .sourcecode-content-box img {
    height:70px;
    width:70px;
  }
}

