.testimonial-section {
  background: #1e4363;
  color: #fcf2cb;
  padding-bottom:40px;
  overflow: hidden;
}

.testimonial-box {
  margin-top:40px;
  display: flex;
}

.testimonial-box img {
  cursor: pointer;
}

.testimonial {
  font-size:14px;
  line-height: 25px;
  text-align:center;
  width:600px;
  margin-left:60px;
  margin-right:60px;
}

.testimonial-company {
  margin-top:20px;
  margin-bottom:30px;
}

.testimonial-company p {
  font-weight:300;
}

@media screen and (max-width:900px) {
  .testimonial {
    width:400px;
  }
}

@media screen and (max-width:700px) {
  .testimonial {
    width:500px;
  }
}

@media screen and (max-width:600px) {
  .testimonial-box {
    margin-top:30px;
  }

  .testimonial {
    width:350px;
  }
}

@media screen and (max-width:450px) {
  .testimonial {
    width:300px;
  }
}